<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SMS</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="webjars/bootstrap/5.1.0/css/bootstrap.css"
        th:href="@{/webjars/bootstrap/__#{bootstrap.version}__/css/bootstrap.css}"
        rel="stylesheet">
  <script src="webjars/bootstrap/5.1.0/js/bootstrap.js" th:src="@{/webjars/bootstrap/__#{bootstrap.version}__/js/bootstrap.js}"></script>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>
</body>
</html>